
/* lore specific */
div.specificall {
	overflow: auto;
	width: 86vw;
	padding: 2vw 7vw;
}
/* info */
div.info {
	position: relative;
	width: 25vw;
	height: 40vw;
	float: right;
	margin: 4vw 0 5vw 10vw;
	padding: 0;
}
div.infoimg {
	position: absolute;
	width: 100%;
	height: 60%;
	left: 0;
	top: 0;
}
div.infobox {
	position: absolute;
	width: 100%;
	height: 40%;
	left: 0;
	top: 60%;
}
img.infoimg {
	position: absolute;
	height: 90%;
	width: 90%;
	object-fit: contain;
	left: 5%;
	top: 5%;
}
p.boxheading {
	font-family: Raleway;
	position: absolute;
	color: white;
	letter-spacing: 0.3vw;
	font-size: 1.1vw;
	font-weight: 300;
}
p.boxinfo {
	font-family: Raleway;
	position: absolute;
	color: white;
	font-size: 1vw;
	font-weight: 200;
}
#boxh0 {left: 10%; top: 5%;}
#boxh1 {left: 10%; top: 35%;}
#boxh2 {left: 10%; top: 65%;}
#boxh3 {left: 53%; top: 5%;}
#boxh4 {left: 53%; top: 35%;}
#boxh5 {left: 53%; top: 65%;}
#boxi0 {left: 10%; top: 18%;}
#boxi1 {left: 10%; top: 48%;}
#boxi2 {left: 10%; top: 78%;}
#boxi3 {left: 53%; top: 18%;}
#boxi4 {left: 53%; top: 48%;}
#boxi5 {left: 53%; top: 78%;}
/* lore article */
p.infoheading, h1 {
	font-family: Poiret One;
	font-size: 3vw;
	color: white;
	letter-spacing: 1vw;
	padding: 0;
	margin: 5vw 0 1.5vw 1vw;
}
span.underline1, span.underline2 {
	position: static;
	display: block;
	width: 50vw;
	height: 1px;
	background-color: white;
	margin-bottom: 1vw;
}
p.infoparagraph {
	color: white;
	font-family: Raleway;
	font-weight: 200;
	line-height: 2.5vw;
	padding: 0vw 1vw 1vw 1vw;
	margin: 0;
	font-size: 1.2vw;
}
p.sectiontitle, h2 {
	color: white;
	font-family: Poiret One;
	font-size: 2vw;
	letter-spacing: 1vw;
	padding: 0;
	margin: 3vw 0 1vw 1vw;
}
p.paragraphtitle, h3 {
	color: white;
	font-family: Raleway;
	font-weight: 500;
	line-height: 2.5vw;
	padding: 0.4vw 0 0.3vw 1vw;
	margin: 0;
	font-size: 1.6vw;
}
h4 {
	color: white;
	font-family: Raleway;
	font-weight: 500;
	line-height: 2.5vw;
	padding: 0.2vw 0 0 1vw;
	margin: 0;
	font-size: 1.2vw;
}
a.infolink {
	text-decoration: underline;
}
