/* submenu */
div.submenu {
	position: fixed;
	top: 3.2vw;
	left: 0;
	border: solid white;
	border-width: 1px 0 1px 0;
	height: 3.2vw;
	width: 100vw;
	background-color: black;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: black;
	opacity: 0.9;
	z-index: 100;
}
table.submenu {
	border-collapse: collapse;
	position: absolute;
	left: 18vw;
	top: 0;
	width: 64vw;
	height: 3.2vw;
}
td.submenu {
	padding: 0px;
	width: 8vw;
	border-width: 0px;
	margin: 0px;
}
td.allsubmenu {
	width: 5vw;
}
p.submenup {
	text-decoration: none;
	font-family: Raleway;
	font-weight: 200;
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 3.2vw;
	line-height: 3.2vw;
	font-size: 1.2vw;
	color: white;
	cursor: pointer;
	padding: 0px;
	margin: 0px;
}
p.submenup:hover {
	text-decoration: underline;
}
/* lore feed */
div.lorefeed {
	position: relative;
	top: 6.4vw;
	left: 0;
	width: 100vw;
	transition: 0.3s ease;
}
div.loreentry {
	position: absolute;
	width: 25vw;
	height: 30vw;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
	cursor: pointer;
}
img.entryimg {
	position: absolute;
	width: 44%;
	height: 40%;
	object-fit: cover;
	left: 28%;
	top: 7%;
}
p.entryheading {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 55%;
	font-family: Raleway;
	color: white;
	font-size: 1.3vw;
	margin: 0;
	letter-spacing: 0.4vw;
	font-weight: 200;
	transition: 0.3s ease;
}
p.entrytxt {
	position: absolute;
	width: 86%;
	top: 70%;
	font-family: Raleway;
	color: white;
	font-size: 0.95vw;
	margin: 0;
	padding: 0 7%;
	font-weight: 200;
	transition: 0.3s ease;
}
span.entryfade {
	position: absolute;
	width: 86%;
	left: 7%;
	top: 70%;
	height: 28%;
	background-image: linear-gradient(#17171700, #17171766, #171717ff);
}
a.entrylink {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* lore specific */
div.specificall {
	overflow: auto;
	width: 86vw;
	padding: 2vw 7vw;
}
/* info */
div.info {
	position: relative;
	width: 25vw;
	height: 40vw;
	float: right;
	margin: 4vw 0 5vw 10vw;
	padding: 0;
}
div.infoimg {
	position: absolute;
	width: 100%;
	height: 60%;
	left: 0;
	top: 0;
}
div.infobox {
	position: absolute;
	width: 100%;
	height: 40%;
	left: 0;
	top: 60%;
}
img.infoimg {
	position: absolute;
	height: 90%;
	width: 60%;
	object-fit: cover;
	left: 20%;
	top: 5%;
}
p.boxheading {
	font-family: Raleway;
	position: absolute;
	color: white;
	letter-spacing: 0.3vw;
	font-size: 1.1vw;
	font-weight: 300;
}
p.boxinfo {
	font-family: Raleway;
	position: absolute;
	color: white;
	font-size: 1vw;
	font-weight: 200;
}
#boxh0 {left: 10%; top: 5%;}
#boxh1 {left: 10%; top: 35%;}
#boxh2 {left: 10%; top: 65%;}
#boxh3 {left: 53%; top: 5%;}
#boxh4 {left: 53%; top: 35%;}
#boxh5 {left: 53%; top: 65%;}
#boxi0 {left: 10%; top: 18%;}
#boxi1 {left: 10%; top: 48%;}
#boxi2 {left: 10%; top: 78%;}
#boxi3 {left: 53%; top: 18%;}
#boxi4 {left: 53%; top: 48%;}
#boxi5 {left: 53%; top: 78%;}
/* lore article */
p.infoheading {
	font-family: Poiret One;
	font-size: 3vw;
	color: white;
	letter-spacing: 1vw;
	padding: 0;
	margin: 5vw 0 1.5vw 1vw;
}
span.underline {
	position: static;
	display: block;
	width: 50vw;
	height: 1px;
	background-color: white;
}
p.infoparagraph {
	color: white;
	font-family: Raleway;
	font-weight: 200;
	line-height: 2.5vw;
	padding: 0.5vw 1vw;
	font-size: 1.2vw;
}
p.sectiontitle {
	color: white;
	font-family: Poiret One;
	font-size: 2vw;
	letter-spacing: 1vw;
	padding: 0;
	margin: 3vw 0 1vw 1vw;
}
p.paragraphtitle {
	color: white;
	font-family: Raleway;
	font-weight: 500;
	line-height: 2.5vw;
	padding: 2vw 0 0 1vw;
	font-size: 1.3vw;
}





br {}
