body {
	background-color: #171717;
	margin: 0px;
}
div.header {
	padding: 0px;
	margin: 0px;
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 45px;
	overflow: hidden;
	background-color: black;
}
img.menu {
	position: fixed;
	float: left;
	top: 0px;
	height: 45px;
}
table.menu {
	border-collapse: collapse;
	position: fixed;
	left: 30vw;
	top: 0px;
	width: 40vw;
}
td.menu {
	padding: 0px;
	width: 25%;
	border-width: 0px;
	margin: 0px;
}
a.menu:link, a.menu:visited {
	text-decoration: none;
	display: inline-block;
	font-family: Raleway;
	width: 110%;
	text-align: center;
	height: 45px;
	line-height: 45px;
	background-color: black;
	font-size: 100%;
	color: white;
	transition: 0.5s ease;
}
a.menu:hover, a.menu:active {
	/* color: #eeeeee; */
	background-color: #171717;
	transition: 0.5s ease;
}
a.current:link, a.current:visited,
a.current:hover, a.current:active {
	/* fill this in later */
}
input.menu {
	width: 17vw;
	position: absolute;
	top: 5px;
	right: 3vw;
	height: 25px;
	border: 1px solid white;
	margin: 5px
	padding: 5px;
	background-color: black;
	color: white;
	text-align: center;
	font-family: Raleway;
	outline: none;
}
