html {
  scroll-behavior: smooth;
}
body {
	background-color: black;
	margin: 0px;
}
/* header stuff */
div.header {
	padding: 0px;
	margin: 0px;
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 45px;
	overflow: hidden;
	background-color: black;
	opacity: 0.9;
	z-index: 100;
}
img.menu {
	position: fixed;
	float: left;
	top: 3px;
	left: 3px;
	height: 39px;
}
#menutxt {
	color: white;
	font-family: Poiret One;
	position: absolute;
	top: -10px;
	left: 48px;
	font-size: 130%;
	letter-spacing: 4px;
}
table.menu {
	border-collapse: collapse;
	position: fixed;
	left: 30vw;
	top: 0px;
	width: 40vw;
}
td.menu {
	padding: 0px;
	width: 25%;
	border-width: 0px;
	margin: 0px;
}
a.menu:link, a.menu:visited {
	text-decoration: none;
	display: inline-block;
	font-family: Raleway;
	width: 110%;
	text-align: center;
	height: 45px;
	line-height: 45px;
	background-color: black;
	font-size: 100%;
	color: white;
	transition: 0.5s ease;
}
a.menu:hover, a.menu:active {
	/* color: #eeeeee; */
	text-decoration: underline;
}
a.current:link, a.current:visited,
a.current:hover, a.current:active {
	/* fill this in later */
}
input.menu {
	width: 17vw;
	position: absolute;
	top: 7px;
	right: 3vw;
	height: 25px;
	border: solid white;
	border-width: 0 0 1px 0;
	margin: 5px
	padding: 5px;
	background-color: black;
	color: white;
	text-align: left;
	font-family: Raleway;
	outline: none;
}
/* scroll stuff */
#scroll {
	position: fixed;
	width: 13vw;
	height: 40vh;
	top: 28vh;
	right: 2vw;
	z-index: 100;
	/* background-color: black; */
}
#scrollbar {
	position: absolute;
	width: 2px;
	height: 82%;
	top: 13%;
	background-color: white;
	right: 9px;
	opacity: 0.6;
}
.dot {
	background-color: white;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 10%;
	right: 0;
  border-radius: 50%;
	margin: 0;
	padding: 0;
	transition: 0.2s ease;
}
p.scrolllabel {
	position: absolute;
	color: white;
	font-family: Raleway;
	font-weight: 200;
	font-size: 100%;
	right: 40px;
	padding: 0;
	cursor: pointer;
	transition: 0.5s ease;
}
#scroll1{top: 5%;}
#scroll2{top: 20%;}
#scroll3{top: 36%;}
#scroll4{top: 52%;}
#scroll5{top: 67%;}
#scroll6{top: 83%;}
div.stuff {
	margin: 0;
	padding: 0;
	position: static;
	left: 0;
	top: 0;
	width: 100vw;
	background-color: #171717;
}
/* title page */
div.top {
	position: relative;
	width: 100%;
	height: 117vh;
}
#topimg {
	opacity: 0.4;
	position: absolute;
	width: 100vw;
	height: 117vh;
	top: 0;
	object-fit: cover;
}
#heading1 {
	font-family: Poiret One;
	color: white;
	font-size: 430%;
	text-align: center;
	position: absolute;
	top: 40vh;
	width: 100%;
	font-weight: 200;
}
#heading2 {
	font-family: Raleway;
	color: white;
	font-size: 160%;
	text-align: center;
	position: absolute;
	top: 60vh;
	width: 100%;
}
/* synopsis page */
div.synopsis {
	position: relative;
	width: 100%;
	height: 117vh;
}
#synimg {
	position: absolute;
	width: 100vw;
	height: 117vh;
	opacity: 0.2;
	object-fit: cover;
}
#heading3 {
	position: absolute;
	width: 100%;
	top: 8vh;
	font-size: 330%;
	color: white;
	font-family: Poiret One;
	text-align: center;
}
#under3 {
	position: absolute;
	width: 36vw;
	left: 32vw;
	height: 2px;
	background-color: white;
	top: 29vh;
}
#syntext {
	position: absolute;
	top: 30vh;
	width: 50vw;
	padding: 0 25vw;
	text-align: justify;
	color: white;
	font-family: Raleway;
	line-height: 180%;
	font-size: 130%;
}
/* featured page */
div.featured {
	position: relative;
	width: 100vw;
	height: 130vh;
}
#heading4 {
	position: absolute;
	width: 100%;
	top: 5vh;
	font-size: 230%;
	color: white;
	font-family: Poiret One;
	text-align: center;
	letter-spacing: 11px;
}
#under4 {
	position: absolute;
	width: 44vw;
	left: 28vw;
	height: 1px;
	background-color: white;
	top: 20vh;
}
#featuredstuff {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 25vh;
}
#Magus {
	position: absolute;
	object-fit: cover;
	width: 30vw;
	height: 80vh;
	top: 0vh;
	left: 10vw;
}
#Maguslbl {
	font-size: 120%;
	color: white;
	font-family: Raleway;
	font-weight: 100;
	position: absolute;
	text-align: center;
	width: 25vw;
	left: 13vw;
	top: 82vh;
	letter-spacing: 8px;
}
div.release {
	position: absolute;
	width: 35vw;
	height: 15vw;
	left: 67vw;
	background-color: #171717;
	transition: 0.3s ease;
	transform: translate(-50%, -50%);
}
span.h {
	position: absolute;
	background-color: #666666;
	height: 1px;
	width: 2vw;
	border: 0px solid white;
	box-shadow: 0 0 0px white;
	transition: 0.3s ease;
}
span.v {
	position: absolute;
	background-color: #666666;
	height: 2vw;
	width: 1px;
	border: 0px solid white;
	box-shadow: 0 0 0px white;
	transition: 0.3s ease;
}
span.c1 {left: 0; top: 0;}
span.c2 {right: 0; top: 0;}
span.c3 {left: 0; bottom: 0;}
span.c4 {right: 0; bottom: 0;}
img.releaseicon {
	position: absolute;
	top: 10%;
	left: 6%;
	height: 73%;
	width: 23%;
	object-fit: cover;
}
p.releaseheading {
	position: absolute;
	color: white;
	font-family: Raleway;
	font-weight: 200;
	font-size: 120%;
	letter-spacing: 6px;
	left: 31%;
	top: 3%;
	transition: 0.3s ease;
}
p.releasebody {
	position: absolute;
	color: white;
	font-family: Raleway;
	font-weight: 200;
	font-size: 90%;
	text-align: justify;
	width: 63%;
	height: 67%;
	left: 31%;
	top: 23%;
	transition: 0.3s ease;
}
#release1 {top: 8vw;}
#release2 {top: 25vw;}
#release3 {top: 43vw;}
/* lore page */
div.lore {
	position: relative;
	width: 100vw;
	height: 68vw;
	/* background-color: #222222; */
}
#heading5 {
	position: absolute;
	width: 100%;
	top: 5vh;
	font-size: 230%;
	color: white;
	font-family: Poiret One;
	text-align: center;
	letter-spacing: 11px;
}
#under5 {
	position: absolute;
	width: 40vw;
	left: 30vw;
	height: 1px;
	background-color: white;
	top: 20vh;
}
#lorestuff {
	position: absolute;
	width: 100%;
	left: 0vw;
	top: 33vh;
}
div.lorebox {
	position: absolute;
	width: 15vw;
	height: 21vw;
	background-color: #171717;
	cursor: pointer;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
}
img.loreimg {
	position: absolute;
	width: 78%;
	height: 56%;
	left: 11%;
	top: 12%;
	object-fit: cover;
}
p.lorelbl {
	position: absolute;
	color: white;
	font-family: Raleway;
	font-weight: 200;
	font-size: 110%;
	letter-spacing: 6px;
	text-align: center;
	width: 100%;
	left: 0;
	top: 78%;
	transition: 0.3s ease;
}
#lore1{left: 20vw; top: 10vw;}
#lore2{left: 40vw; top: 10vw;}
#lore3{left: 60vw; top: 10vw;}
#lore4{left: 80vw; top: 10vw;}
#lore5{left: 20vw; top: 33vw;}
#lore6{left: 40vw; top: 33vw;}
#lore7{left: 60vw; top: 33vw;}
#lore8{left: 80vw; top: 33vw;}
/* art page */
div.art {
	position: relative;
	width: 100vw;
	height: 150vw;
}
#heading6 {
	position: absolute;
	width: 100%;
	top: 5vh;
	font-size: 230%;
	color: white;
	font-family: Poiret One;
	text-align: center;
	letter-spacing: 11px;
}
#under6 {
	position: absolute;
	width: 40vw;
	left: 30vw;
	height: 1px;
	background-color: white;
	top: 20vh;
}
#artscroll {
	position: absolute;
	top: 25vh;
	width: 100vw;
	left: 0;
	height: 130vw;
	/* background-color: #222222; */
}
#artstuff {
	position: sticky;
	top: 0;
	width: 100vw;
	left: 0;
	height: 100vh;
	/* background-color: #333333; */
}
div.artbox {
	position: absolute;
	width: 28vw;
	height: 70vh;
	top: 20vh;
	transition: 0.5s ease;
}
img.artimg {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s ease;
}
#art1 {left: 5vw;}
#art2 {left: 35vw;}
#art3 {left: 65vw;}
a.artlabel {
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: black;
	font-family: Raleway;
	font-size: 100%;
	color: white;
	width: 60%;
	height: 10%;
	text-align: center;
	line-height: 7vh;
	transition: 0.3s ease;
	letter-spacing: 4px;
}
/* sponsor page */
div.sponsor {
	position: relative;
	left: 0;
	top: 0;
	width: 100vw;
	height: 50vw;
	background-color: #222222;
}
#heading7 {
	position: absolute;
	width: 100%;
	top: 5vh;
	font-size: 230%;
	color: white;
	font-family: Poiret One;
	text-align: center;
}
#under7 {
	position: absolute;
	width: 40vw;
	left: 30vw;
	height: 1px;
	background-color: white;
	top: 10vw;
}
#tyimg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	object-fit: cover;
}
p.sponsorname {
	position: absolute;
	font-family: Raleway;
	text-align: center;
	width: 8vw;
	color: white;
	font-size: 110%;
}







br{}
