div.universestuff {
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;
	width: 100vw;
	height: 200vw;
}
h1 {
	position: static;
	font-family: Poiret One;
	color: white;
	font-size: 2.4vw;
	padding: 0;
	margin: 0 0 1vw 1vw;
}
p.universeparagraph {
	font-family: Raleway;
	font-weight: 200;
	line-height: 2.5vw;
	padding: 0.5vw 1vw;
	font-size: 1.2vw;
}
span.underline {
	position: static;
	display: block;
	width: 100%;
	height: 1px;
	background-color: white;
}
#universeoverview {
	position: absolute;
	top: 5vw;
	left: 7vw;
	width: 30vw;
	height: 24vw;
}
#universeorigin {
	position: absolute;
	top: 5vw;
	left: 41.5vw;
	width: 51.5vw;
	height: 24vw;
}
#sandboxheading {
	position: absolute;
	top: 30vw;
	left: 7vw;
	width: 86vw;
}
#devlogsection {
	position: absolute;
	top: 72vw;
	left: 7vw;
	width: 47vw;
}
#updatetimersection {
	position: absolute;
	top: 72vw;
	left: 60vw;
	width: 33vw;
}
div.sandboxentry {
	position: absolute;
	width: 27vw;
	height: 15vw;
	left: 6vw;
	top: 36vw;
}
#sbentry1 { left: 6vw; top: 36vw; }
#sbentry2 { left: 36.5vw; top: 36vw; }
#sbentry3 { left: 67vw; top: 36vw; }
#sbentry4 { left: 6vw; top: 54vw; }
#sbentry5 { left: 36.5vw; top: 54vw; }
#sbentry6 { left: 67vw; top: 54vw; }
p.sandboxcategory {
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: Raleway;
	font-size: 1.8vw;
	margin: 0; padding: 0;
	letter-spacing: 0.4vw;
	top: 1.5vw;
	font-weight: 300;
}
p.sandboxtext {
	position: absolute;
	width: 23.9vw;
	padding: 0 1.55vw;
	font-family: Raleway;
	font-size: 1.1vw;
	margin: 0;
	top: 5vw;
	font-weight: 100;
}
div.container {
	width: 100%;
	height: 35vw;
	position: absolute;
	top: 6vw;
	background-color: black;
}
div.devlog {
	position: absolute;
	height: 100%;
	width: 80%;
	left: 0; top: 0;
	padding: 0 5%;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
div.devlog::-webkit-scrollbar {
	display: none;
}
div.universescroll {
	position: absolute;
	left: 90%;
	width: 8%;
	height: 80%;
	top: 10%;
}
#uscrollbar {
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	background-color: white;
	left: 50%;
	opacity: 0.6;
}
#udot {
	transform: translate(-50%, -50%);
	background-color: white;
	height: 1.4vw;
	width: 1.4vw;
	position: absolute;
	top: 0;
	left: 50%;
 	border-radius: 50%;
	margin: 0;
	padding: 0;
}
p.devlogday {
	font-family: Raleway;
	font-size: 2vw;
	font-weight: 200;
	padding: 1.3vw 0;
	margin: 0;
}
p.devlogcategory {
	font-family: Raleway;
	font-size: 1.6vw;
	font-weight: 500;
	padding: 0;
	margin: 0;
}
ul {
	color: white;
	font-family: Raleway;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0.5vw 0;
}
li {
	padding-top: 0.2vw;
	padding-bottom: 0.2vw;
}
p.updateexpected {
	position: absolute;
	font: 2vw Raleway;
	width: 80%;
	padding: 0 10%;
	margin: 0;
	text-align: center;
	font-weight: 200;
	line-height: 3.5vw;
	top: 13%;
}
time.updateday {
	position: absolute;
	font: 2.8vw Raleway;
	color: white;
	width: 100%;
	text-align: center;
	font-weight: 200;
	top: 40%;
}
div.updatedisplay {
	position: absolute;
	width: 20%;
	height: 20%;
	transform: translateX(-50%);
	top: 62%;
}
p.updatenumber {
	position: absolute;
	width: 100%;
	text-align: center;
	font: 2.3vw Raleway;
	font-weight: 200;
	top: 0;
	padding: 0; margin: 0;
}
p.updatetype {
	position: absolute;
	width: 100%;
	text-align: center;
	font: 1.4vw Raleway;
	font-weight: 200;
	top: 2vw;
}
#days {left: 17%;}
#hours {left: 39%;}
#minutes {left: 61%;}
#seconds {left: 83%;}
p.soontxt {
	position: absolute;
	font: 2.8vw Raleway;
	color: white;
	width: 100%;
	text-align: center;
	font-weight: 200;
	top: 60%;
	padding: 0; margin: 0;
}
#timer {
	width: 100%; height: 100%;
	display: none;
}
#soon {
	width: 100%; height: 100%;
	display: none;
}




br {}
