p.universeheading {
	color: white;
	font-family: Poiret One;
	font-size: 2.4vw;
	padding: 0;
	margin: 0 0 1vw 1vw;
}
p.universeparagraph {
	color: white;
	font-family: Raleway;
	font-weight: 200;
	line-height: 2.5vw;
	padding: 0.5vw 1vw;
	font-size: 1.2vw;
}
span.underline {
	position: static;
	display: block;
	width: 100%;
	height: 1px;
	background-color: white;
}
#universeoverview {
	position: absolute;
	top: 5vw;
	left: 7vw;
	width: 30vw;
	height: 24vw;
}
#universeorigin {
	position: absolute;
	top: 5vw;
	left: 41.5vw;
	width: 51.5vw;
	height: 24vw;
}
#sandboxheading {
	position: absolute;
	top: 30vw;
	left: 7vw;
	width: 86vw
}
div.sandboxentry {
	position: absolute;
	width: 27vw;
	height: 15vw;
	left: 6vw;
	top: 36vw;
}
#sbentry1 { left: 6vw; top: 36vw; }
#sbentry2 { left: 36.5vw; top: 36vw; }
#sbentry3 { left: 67vw; top: 36vw; }
#sbentry4 { left: 6vw; top: 54vw; }
#sbentry5 { left: 36.5vw; top: 54vw; }
#sbentry6 { left: 67vw; top: 54vw; }
p.sandboxcategory {
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: Raleway;
	font-size: 1.8vw;
	color: white;
	margin: 0; padding: 0;
	letter-spacing: 0.4vw;
	top: 1.5vw;
	font-weight: 300;
}
p.sandboxtext {
	position: absolute;
	width: 23.9vw;
	padding: 0 1.55vw;
	color: white;
	font-family: Raleway;
	font-size: 1.1vw;
	margin: 0;
	top: 5vw;
	font-weight: 100;
}
