p.universeheading {
	color: white;
	font-family: Poiret One;
	font-size: 2.4vw;
	padding: 0;
	margin: 0 0 1vw 1vw;
}
p.universeparagraph {
	color: white;
	font-family: Raleway;
	font-weight: 200;
	line-height: 2.5vw;
	padding: 0.5vw 1vw;
	font-size: 1.2vw;
}
span.underline {
	position: static;
	display: block;
	width: 100%;
	height: 1px;
	background-color: white;
}
#universeoverview {
	position: absolute;
	top: 5vw;
	left: 7vw;
	width: 30vw;
	height: 24vw;
}
#universeorigin {
	position: absolute;
	top: 5vw;
	left: 44vw;
	width: 51.5vw;
	height: 24vw;
}
#universesandbox {
	position: absolute;
	top: 30vw;
	left: 7vw;
	width: 88.5vw
}
